html,
body {
  margin: 0 !important;
  height: 100%;
  width: 100%;
  border-radius: 5px
}

body {
  width: 300px;
  height: 450px
}

.hide-div {
  visibility: hidden;
  display: none;
}

#onb1,
#onb2,
#onb3,
#onb4,
#onb5,
#onb6,
#onb7,
#man-bank {
  height: 100%;
  margin: 0;
  background-image: url("images/wealth_wise_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .form-control {
  border: none;
  height: 50px;
  color: white !important;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.08);
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057 !important;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
} */

.form-control:hover {
  box-shadow: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #28a745;
}

input:focus+.slider {
  box-shadow: 0 0 1px #28a745;
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn,
.btn-primary {
  color: #fff;
  background-color: #28a745;
  border-color: #1c712f;
  margin-left: 10px;
  margin-top: 10px;
}

#plaid-connectbutt,
#man-bankbutt {
  color: #000;
  background-color: #fff;
  border-color: gray;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 0;
}

#plaid-connectbutt:hover,
#man-bankbutt:hover {
  background-color: gray;
  color: white;
  border-color: lightgray;
}

.form-group {
  margin: 20px 10px 0px 10px;
}

.btn:hover,
.btn-primary:hover {
  color: #fff;
  background-color: #1c712f;
  border-color: #1c712f;

}

.onbdone {
  position: absolute;
  transform: translateX(+110%) translateY(30%);
  scale: 1.5;
}

.form-row {
  margin: 0px 10px 10px 10px;
}

.form-floating {
  margin: 10px 14px;
}

.holdings-text {
  margin: 8px 0px 8px 10px;
  font-size: 14px;
  text-align: center;
}

.holdings-switch {
  margin: 14px 0;
}

.holdings-switch:last-child,
.holdings-text:last-child {
  margin: inherit inherit 0;
}

.onboard.form-floating>.form-control,
.onboard.form-floating>.form-control-plaintext {
  padding: 0rem 0.75rem -.25rem;
}

.onboard.form-floating>.form-control,
.onboard.form-floating>.form-control-plaintext,
.onboard.form-floating>.form-select {
  height: calc(2.5rem + 2px);
  line-height: 1;
}

.onboard.form-floating>label {
  padding: 0.5rem 0.75rem;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-override {
  width: 100% !important;
  float: none !important;
  position: initial !important;
  background-color: #ededed !important;
}

.navbar .nav-item {
  width: 33%;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 17px;
}

.navbar .nav-item:hover {
  color: #28a745;
}


.progress {
  margin: 0;
  border-radius: 0;
}

#tab-home * {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
}

#tab-home {
  perspective: 500px;
}

/* clear background */
#tab-home h2 {
  text-align: center;
  padding: 16px;
  margin: 0;
}

/* crops animations that exceeds one line area */
/* .line {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  border: 1px solid black;
  padding: 0;
  margin-bottom: 16px;
} */

/* lineup class and keyframes */
#tab-home .lineUp {
  animation: 2s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@property --num {
  syntax: "<integer>";
  initial-value: 69;
  inherits: false;
}

.counter {
  animation: counter 2s;
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  padding: 2rem;
}

.counter::after {
  content: counter(num);
}

.counter {
  /* animation-delay: 2s; */
  animation: 4s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }

  from {
    --num: 0;
  }

  to {
    --num: 69;
  }
}